<!DOCTYPE html>
<html lang="zh-TW">
    <%-include("head.ejs") %>
<body>
    <%-include("navbar.ejs") %>
    <div class="container">
        <main role="main" class="pb-3">
            <%-include("msg.ejs") %>
        </main>
    </div>
    <%-include("footer.ejs") %>
</body>
</html>